[general]
config_version = 2

[slapd]
port = 3389
secure_port = 3636
root_dn = {{ ds389.root_dn }}
root_password = {{ ds389.root_password }}
self_sign_cert = True
self_sign_cert_valid_months = 24

[backend-userroot]
sample_entries = no
suffix = {{ ds389.suffix }}
