[defaults]
roles_path = ../roles:../roles/freeipa
host_key_checking = False
callbacks_enabled = ansible.posix.profile_tasks
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
